<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hpple.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LAHDemo.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LAH_MKNetwork_Hpple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Lazy_API_with_HTML.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Lazy_API_with_HTML_LogicTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE28BDF016BFBD76008434C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE71B25B16C1F9D4005AD9D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE93F0C316C502DE008C3B3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BED8CFF416BFAE5A001D819C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEDD18C916BF976F009825E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEDD18DA16BF976F009825E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
